<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> -->
  <link href="https://bootswatch.com/5/solar/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

</head>

<body>
  <nav class="navbar navbar-expand-lg lined sticky-top navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" id="navbar-id">BreadStar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/index">Main</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">Brot hinzufügen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/backen">Brot backen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/show">Brot anschauen</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Modal 
  <ng-template #brotData let-modal>

  
  <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Brot hinzufügen</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="brotForm" novalidate>
            <div class="mb-3">
              <label for="id">ID</label>
              <input type="number" class="form-control" id="id" name="id" min="0" required>

              <div class="invalid-feedback">
                Bitte eine positive Zahl eingeben.
              </div>
            </div>
            <div class="mb-3">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" name="name" required>

              <div class="invalid-feedback">
                Bitte einen gültigen Namen eingeben.
              </div>
            </div>
            <div class="mb-3">
              <label for="year">Erfindungsjahr</label>
              <input type="number" class="form-control" id="year" name="year" required>
              <div class="invalid-feedback">
                Bitte ein gültiges Jahr eingeben.
              </div>
            </div>
            <div class="mb-3">
              <label for="art">Art</label>
              <input type="text" class="form-control" id="art" name="art" required>
              <div class="invalid-feedback">
                Die Art des Brotes fehlt.
              </div>
            </div>
            <div class="form-check mb-3">
              <label class="form-check-label" for="vegan">
                Vegan
              </label>
              <input class="form-check-input" type="checkbox" id="vegan" name="vegan">
            </div>
            <div class="form-check">
              <label class="form-check-label" for="gluten">
                Glutenfrei
              </label>
              <input class="form-check-input" type="checkbox" id="gluten" name="gluten">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="addRow()">Brot hinzufügen</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>-->
<div>

  <h2>Template-Driven Form</h2>
  <form #heroForm="ngForm" appIdentityRevealed>
    <div [hidden]="heroForm.submitted">
      <div class="cross-validation" [class.cross-validation-error]="heroForm.errors?.['identityRevealed'] && (heroForm.touched || heroForm.dirty)">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" class="form-control"
                required minlength="4" appForbiddenName="bob"
                [(ngModel)]="hero.name" #name="ngModel">

          <div *ngIf="name.invalid && (name.dirty || name.touched)"
              class="alert">

            <div *ngIf="name.errors?.['required']">
              Name is required.
            </div>
            <div *ngIf="name.errors?.['minlength']">
              Name must be at least 4 characters long.
            </div>
            <div *ngIf="name.errors?.['forbiddenName']">
              Name cannot be Bob.
            </div>

          </div>
        </div>

        <div class="form-group">
          <label for="alterEgo">Alter Ego</label>
        <input type="text"
                 id="alterEgo"
                 name="alterEgo"
                 #alterEgo="ngModel"
                 [(ngModel)]="hero.alterEgo"
                 [ngModelOptions]="{ updateOn: 'blur' }"
                 appUniqueAlterEgo>
          <div *ngIf="alterEgo.pending">Validating...</div>
          <div *ngIf="alterEgo.invalid" class="alert alter-ego-errors">
            <div *ngIf="alterEgo.errors?.['uniqueAlterEgo']">
              Alter ego is already taken.
            </div>
          </div>
        </div>

        <div *ngIf="heroForm.errors?.['identityRevealed'] && (heroForm.touched || heroForm.dirty)" class="cross-validation-error-message alert">
            Name cannot match alter ego.
        </div>
      </div>

      <div class="form-group">
        <label for="power">Hero Power</label>
        <select id="power"
                name="power"
                required [(ngModel)]="hero.power"
                #power="ngModel">
          <option *ngFor="let p of powers" [value]="p">{{p}}</option>
        </select>

        <div *ngIf="power.errors && power.touched" class="alert">
          <div *ngIf="power.errors['required']">Power is required.</div>
        </div>
      </div>

      <p>Complete the form to enable the Submit button.</p>
      <button type="submit"
              [disabled]="heroForm.invalid">Submit</button>
      <button type="button"
              (click)="heroForm.resetForm({})">Reset</button>
    </div>

    <div class="submitted-message" *ngIf="heroForm.submitted">
      <p>You've submitted your hero, {{ heroForm.value.name }}!</p>
      <button type="button" (click)="heroForm.resetForm({})">Add new hero</button>
    </div>
  </form>
</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
  <!-- Modal -->
  <ng-template #brotData let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Brot hinzufügen</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form #brotForm="ngForm" appIdentityRevealed>
        <div class="cross-validation" [class.cross-validation-error]="brotForm.errors?.['identityRevealed'] && (brotForm.touched || brotForm.dirty)">
        <div [hidden]="brotForm.submitted">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" class="form-control" required [(ngModel)]="brot.name" #name="ngModel">
            <div *ngIf="name.invalid && (name.dirty || name.touched)"
              class="alert">

              <div *ngIf="name.errors?.['required']">
                Name is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="year">Erfindungsjahr</label>
            <input type="number" id="year" name="year" class="form-control" required [(ngModel)]="brot.year" #year="ngModel">
            <div *ngIf="year.invalid && (year.dirty || year.touched)"
              class="alert">

              <div *ngIf="year.errors?.['required']">
                Erfindungsjahr is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="type">Art</label>
            <input type="text" id="type" name="type" class="form-control" required [(ngModel)]="brot.type" #type="ngModel">
            <div *ngIf="type.invalid && (type.dirty || type.touched)"
              class="alert">

              <div *ngIf="type.errors?.['required']">
                Art is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-check mb-3">
              <label class="form-check-label" for="vegan">
                Vegan
              </label>
              <input class="form-check-input" type="checkbox" id="vegan" name="vegan" [(ngModel)]="brot.vegan" #vegan="ngModel">
            </div>
          </div>
          <div class="form-group">
            <div class="form-check mb-3">
              <label class="form-check-label" for="glutenFree">
                Glutenfrei
              </label>
              <input class="form-check-input" type="checkbox" id="glutenFree" name="glutenFree" [(ngModel)]="brot.glutenFree" #glutenFree="ngModel">
            </div>
          </div>
        </div>
        </div>
      </form></div>
    
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
      <button type="button" (click)="addBrot(name.value, year.value, type.value, vegan.value, glutenFree.value)" class="btn btn-primary" >Brot hinzufügen</button>
    </div>
  </ng-template>


  <br>
  <div class="container table-responsive">
    <h2 class="text-center">Brotliste</h2>
    <table class="table" id="brotTable">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Erfindungsjahr</th>
          <th scope="col">Art</th>
          <th scope="col">Vegan</th>
          <th scope="col">Glutenfrei</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let brot of brote; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ brot.name }}</td>
          <td>{{ brot.year }}</td>
          <td>{{ brot.type }}</td>
          <td><tr *ngIf="brot.vegan==true">✔️</tr><tr *ngIf="brot.vegan==false">❌</tr></td>
          <td><tr *ngIf="brot.glutenFree==true">✔️</tr><tr *ngIf="brot.glutenFree==false">❌</tr></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container text-center">
    <!-- Button to open the modal -->
    <button type="button" class="btn btn-primary" (click)="openModal(brotData)" data-bs-toggle="modal"
      data-bs-target="#myModal">
      Brot hinzufügen
    </button>
    <button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top">
      <i class="fas fa-arrow-up"></i>
    </button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src=" https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js "></script>
  <script src="../js/logic.js"></script>
</body>

</html>