<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> -->
  <link href="https://bootswatch.com/5/solar/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

</head>

<body>
  <nav class="navbar navbar-expand-lg lined sticky-top navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" id="navbar-id">BreadStar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/index">Main</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">Brot hinzufügen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/backen">Brot backen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/show">Brot anschauen</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Modal -->
  <ng-template #brotData let-modal>
    <div class="modal-header">
      <h4 *ngIf="isVisibleNoEdit && !isVisibleEdit" class="modal-title" id="modal-basic-title">Brot hinzufügen</h4>
      <h4 *ngIf="!isVisibleNoEdit && isVisibleEdit" class="modal-title" id="modal-basic-title">Brot ändern</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form #brotForm="ngForm" appIdentityRevealed>
        <div class="cross-validation"
          [class.cross-validation-error]="brotForm.errors?.['identityRevealed'] && (brotForm.touched || brotForm.dirty)">
          <div [hidden]="brotForm.submitted">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" id="name" name="name" class="form-control" required [(ngModel)]="brot.name"
                #name="ngModel">
              <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">

                <div *ngIf="name.errors?.['required']">
                  Name is required.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="year">Erfindungsjahr</label>
              <input type="number" id="year" name="year" class="form-control" required [(ngModel)]="brot.year"
                #year="ngModel">
              <div *ngIf="year.invalid && (year.dirty || year.touched)" class="alert">

                <div *ngIf="year.errors?.['required']">
                  Erfindungsjahr is required.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="type">Art</label>
              <input type="text" id="type" name="type" class="form-control" required [(ngModel)]="brot.type"
                #type="ngModel">
              <div *ngIf="type.invalid && (type.dirty || type.touched)" class="alert">
                <div *ngIf="type.errors?.['required']">
                  Art is required.
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-check mb-3">
                <label class="form-check-label" for="vegan">
                  Vegan
                </label>
                <input class="form-check-input" type="checkbox" id="vegan" name="vegan" [(ngModel)]="brot.vegan"
                  #vegan="ngModel">
              </div>
            </div>
            <div class="form-group">
              <div class="form-check mb-3">
                <label class="form-check-label" for="glutenFree">
                  Glutenfrei
                </label>
                <input class="form-check-input" type="checkbox" id="glutenFree" name="glutenFree"
                  [(ngModel)]="brot.glutenFree" #glutenFree="ngModel">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="modal-footer">
      <button *ngIf="!isVisibleNoEdit && isVisibleEdit" type="button" (click)="edit(numberEdit, name.value, year.value, type.value, vegan.value, glutenFree.value)" class="btn btn-primary">Save</button>
      <button *ngIf="isVisibleNoEdit && !isVisibleEdit" type="button" (click)="addBrot(name.value, year.value, type.value, vegan.value, glutenFree.value)"
        class="btn btn-primary">Brot hinzufügen</button>
    </div>
  </ng-template>
  <br>
  <div class="container table-responsive">
    <h2 class="text-center">Brotliste</h2>
    <table class="table" id="brotTable">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Erfindungsjahr</th>
          <th scope="col">Art</th>
          <th scope="col">Vegan</th>
          <th scope="col">Glutenfrei</th>
          <th scope="col"> </th>
          <th scope="col"> </th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let brot of brote; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ brot.name }}</td>
          <td>{{ brot.year }}</td>
          <td>{{ brot.type }}</td>
          <td>
        <tr *ngIf="brot.vegan==true">✔️</tr>
        <tr *ngIf="brot.vegan==false">❌</tr>
        </td>
        <td>
          <tr *ngIf="brot.glutenFree==true">✔️</tr>
          <tr *ngIf="brot.glutenFree==false">❌</tr>
        </td>
        <td>
          <button class="btn btn-info" (click)="openModal(brotData, true, i)">edit</button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="delete(i)">del</button>
        </td>
        </tr>
      </tbody>

    </table>
  </div>

  <div class="container text-center">
    <!-- Button to open the modal -->
    <button type="button" class="btn btn-primary" (click)="openModal(brotData, false, -1)" data-bs-toggle="modal"
      data-bs-target="#myModal">
      Brot hinzufügen
    </button>
    <button type="button" class="btn btn-secondary ms-1" (click)="resetDisplayFromLocalStorage()" data-bs-toggle="modal"
      data-bs-target="#myModal">
      Liste zurücksetzen
    </button>
    <button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top">
      <i class="fas fa-arrow-up"></i>
    </button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src=" https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js "></script>
  <script src="../js/logic.js"></script>
</body>

</html>