<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Data
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Data</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let item of getBrote(); index as i">
      <ion-label>
        <h2>{{ item.name }}</h2>
        <p>Year: {{ item.year }}</p>
        <p>Type: {{ item.type }}</p>
        <p>Vegan: {{ item.vegan ? '✔️' : '❌' }}</p>
        <p>Gluten-free: {{ item.glutenFree ? '✔️' : '❌' }}</p>
        <ion-button (click)="edit(i)">Edit</ion-button>
        <ion-button (click)="delete(i)">Delete</ion-button>
      </ion-label>

    </ion-item>
  </ion-list>

</ion-content>
