<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let chat of chats | async">
    <ion-card-header>
      <ion-card-subtitle>
        {{ chat.author }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{ chat.text }}
    </ion-card-content>
    <p> {{ chat.timestamp }}</p>
  </ion-card>
  <ion-item>
    <ion-input placeholder="Nachricht eingeben..." [(ngModel)]="message"></ion-input>
    <ion-button>
      <ion-icon aria-hidden="true" name="send"></ion-icon>
    </ion-button>
  </ion-item>
</ion-content>
