<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let chat of chats | async">
    <ion-card-header>
      <ion-card-subtitle>
        {{ chat.author }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{ chat.text }}
    </ion-card-content>
    <p class="d-flex flex-column align-items-end ion-margin-end" style="position: absolute; bottom: 0; right: 0"> {{ chat.timestamp }}</p>
  </ion-card>
  
</ion-content>

<ion-item>
  <ion-input placeholder="Nachricht eingeben..." [(ngModel)]="message"></ion-input>
  <ion-button (click)="sendMessage()">
    <ion-icon aria-hidden="true" name="send"></ion-icon>
  </ion-button>
</ion-item>