<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input placeholder="Username eingeben..." [(ngModel)]="username"></ion-input>
    <ion-button (click)="sendUsername()">
      <ion-icon aria-hidden="true" name="send"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Sie schreiben als:
      </ion-card-title>
    </ion-card-header>
    <ion-card-content >
      <ion-text color="success">
        <h1>{{ actualUsername }}</h1>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>